@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

section, h2{
    margin-bottom: 2rem;
}

.carrusel_img{
    height: 500px;
}

hr{
    height: 0.2rem;
    background-color: white;
    border-color: white;
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 70%;
    opacity: 0.7;
    font-size: 1.2rem;
}

.logo_img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.who_are_img{
    width: 40rem;
    border-radius: 2rem;
}

.who_are_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
}

.div_card_prices{
    background-color: lightgray;
    height: 4rem;
}

.prices{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.text_prices{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/** BEM **/
.testimmonials{
    text-align: center;
    align-items: center;
    align-content: center;
}

.testimmonials__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 4rem;
    height: 13rem;
}

.testimmonials__text--person{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.testimmonials__img{
    border-color: white;
    border-width: 0.5rem;
    border: 0.4rem;
    object-fit: cover;
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
}

/** FIN BEM **/

.item_datos{
    display: flex;
    text-align: left;
    align-items: first baseline;
    height: 2rem;
    gap: 2rem;
    font-weight: 600;
    margin-bottom: 1.3px;
}

.alineacionContenidoDerecho{
    text-align: left;
    margin-bottom: 40px;
}

label{
    margin-right: 0.5rem;
}



@media (max-width:480px){
    .who_are_img{
        display: none;
    }

    .carrusel_img{
        height: 300px;
    }

    .text_prices{
        font-size: 1.1rem;
    }

    .prices{
        font-size: 1.5rem;
    }
    
}